Clinica dental.json
{
  "name": "Clinica dental",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1nbZGR2MamA1ZwZR9Mjzgpph4y0KTQVPH",
          "mode": "list",
          "cachedResultName": "Prueba 4. Turnos para clinica dental",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nbZGR2MamA1ZwZR9Mjzgpph4y0KTQVPH"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f16b5198-5f79-49a4-b256-73b1a9a11f5b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3vt7wLwpCr8Ux6Nd",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "8a56180d-6cad-4ff6-b489-007902059e6a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3vt7wLwpCr8Ux6Nd",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "clinicadental",
          "mode": "list",
          "cachedResultName": "clinicadental"
        },
        "options": {
          "pineconeNamespace": "clinicadeltal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "7995bcbb-a0ee-4289-a996-8fcf7116941c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "uN6o9Bf6LilMFKit",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        240
      ],
      "id": "1e77dd18-0e7a-4e6f-bc81-cd5cced97d5a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gtseWtwgCQNGsrGS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $workflow.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        304
      ],
      "id": "c5273761-7bd5-4c61-ae7d-0cde7471fb42",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        560,
        496
      ],
      "id": "2c444541-06e1-4126-87cb-6e2de09f4b29",
      "name": "Token Splitter"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-08-07T09:14:19Z"
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}