Conocedor de toda la empresa.json
{
  "name": "Conocedor de toda la empresa",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ulbRFetAn5fA1fL7bAhKINPHm6nZM2Wt",
          "mode": "list",
          "cachedResultName": "Prueba 3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ulbRFetAn5fA1fL7bAhKINPHm6nZM2Wt"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "=all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "388a0334-b57e-4853-b795-2b8116e7088b",
      "name": "Archivo_creado",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3vt7wLwpCr8Ux6Nd",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ulbRFetAn5fA1fL7bAhKINPHm6nZM2Wt",
          "mode": "list",
          "cachedResultName": "Prueba 3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ulbRFetAn5fA1fL7bAhKINPHm6nZM2Wt"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        208
      ],
      "id": "8e83afc9-fc6c-4150-b0aa-348767235919",
      "name": "archivo_actualizado",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3vt7wLwpCr8Ux6Nd",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba1ebe6e-9aab-4713-b702-9ae7a2edb72b",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6d0af4e3-e119-4456-ba3a-ba79b191a904",
              "name": "tipo_archivo",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        80
      ],
      "id": "8583c966-fb83-44a5-ab1b-9e7f00ee34c1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "=documents",
        "filterType": "string",
        "filterString": "=metadata->>>file_id=like.*{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        80
      ],
      "id": "fdafe079-c819-4d42-a383-a14a7422d57f",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7OPTl1aJntJnL7rB",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        64
      ],
      "id": "ac3bec27-00dc-4d4a-8755-2eca734f44f0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3vt7wLwpCr8Ux6Nd",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.tipo_archivo }}",
                    "rightValue": "=application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d52d54b4-7c22-4020-8873-920fd43bfd99"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b58115c-9f80-4f26-80aa-b463f540a1d5",
                    "leftValue": "={{ $('Edit Fields').item.json.tipo_archivo }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8666cdbd-66e6-4d17-9739-4aad8dc030ab",
                    "leftValue": "={{ $('Edit Fields').item.json.tipo_archivo }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f205436-56ad-4779-aca6-b9c3b017cbd1",
                    "leftValue": "={{ $('Edit Fields').item.json.tipo_archivo }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XLSX"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1056,
        32
      ],
      "id": "b39406e1-8f9d-4b4e-a349-fe01f9dbf5b7",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1488,
        -256
      ],
      "id": "2da2aecd-54bb-4908-ae34-21695815a7d5",
      "name": "PDF"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1488,
        -80
      ],
      "id": "5cc08d56-e6e3-4bf6-81aa-d918763918c2",
      "name": "DOC"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1488,
        144
      ],
      "id": "555caf85-a55b-4710-b6eb-c9a5a6657a55",
      "name": "CSV"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1312,
        352
      ],
      "id": "73ee305f-667f-4db9-9647-19515d15ef21",
      "name": "EXCEL"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        352
      ],
      "id": "5b719c21-4a8d-413d-8d1a-cb6b67643f75",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1760,
        368
      ],
      "id": "fba45874-dbce-46fb-88a5-014efc2b278c",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2016,
        -48
      ],
      "id": "43bc664e-f2f4-4586-b7e6-880c91bd8071",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "7OPTl1aJntJnL7rB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2032,
        160
      ],
      "id": "7de5f135-634a-485e-b187-ff8f2a6d1cd0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gtseWtwgCQNGsrGS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2336,
        176
      ],
      "id": "3826bbe9-1bda-4855-ae19-d59646beecd3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 80,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2432,
        384
      ],
      "id": "78b17b6e-fbc6-454e-87d8-722cccb04687",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1360,
        -848
      ],
      "id": "a6c3ff87-1e3c-43be-afba-689abd3db947",
      "name": "When chat message received",
      "webhookId": "5a15c0a9-95c3-42dc-aa74-bef10e807860"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un sistema inteligente cuyo proposito fundamental consiste en la resolución de dudas relacionadas con una transcipción de un video de youtube contenido en una base de de datos. Siempre ofreces respuestas que esten incluidas dentro de esta de base de datos y jamas te inventaras información.\nherramienta disponible: \"Base de Datos\"\nComo utilizar herramienta: \"Base de Datos\" siempre se utilizará para toda interacción. Aquello que se encuentre fuera de esta base de datos no será respondido sin rigor.\nEjemplo:\nUsuario: \"Como configuro la API de telegram\" System \"Información de la herramienta \"Base de Datos\" \n\nExcepciones: Usuario: \"Consulta fuera de la base de conocimiento\" "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1616,
        -848
      ],
      "id": "e724ed95-b824-459d-8ce8-7e26d069019a",
      "name": "Agente_rag"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1552,
        -592
      ],
      "id": "fb177229-7fdb-4a59-b9de-43354f368459",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gtseWtwgCQNGsrGS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Consulta aqui para todo lo relativo a la base de datos"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1728,
        -560
      ],
      "id": "c4bd621c-f29f-41a0-a49f-4dc690a33381",
      "name": "Base de datos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1744,
        -368
      ],
      "id": "f96eedaa-c3dc-4dd7-adfb-f6ae5ecdde3d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "gtseWtwgCQNGsrGS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2032,
        -384
      ],
      "id": "c392f48c-6287-4042-aa09-55fa1d3f162c",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "7OPTl1aJntJnL7rB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2032,
        -224
      ],
      "id": "0462eceb-092c-4364-9c0f-0439d8e3d938",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "gtseWtwgCQNGsrGS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1872,
        -400
      ],
      "id": "2cb50066-c161-4340-b539-7ad33c4ef7d6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "x20Ol7U6VWfL2dh8",
          "name": "Postgres account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Archivo_creado": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "archivo_actualizado": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EXCEL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXCEL": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOC": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agente_rag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_rag",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Base de datos": {
      "ai_tool": [
        [
          {
            "node": "Agente_rag",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Base de datos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Base de datos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente_rag",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}