inmobiliaria agente.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        6512,
        384
      ],
      "id": "45f7b284-166f-48b4-9494-c0796883e9b5",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"response\": {\n    \"part_1\": \"Respondé con la primera parte de la respuesta.\",\n    \"part_2\": \"Respondé con la segunda parte de la respuesta.\",\n    \"part_3\": \"Respondé con la tercera parte de la respuesta (opcional).\",\n    \"part_4\": \"Respondé con la cuarta parte de la respuesta (opcional).\",\n    \"part_5\": \"Respondé con la quinta parte de la respuesta (opcional).\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6784,
        672
      ],
      "id": "cc3fff1e-cc8d-4476-afec-99a7efb70dee",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Texto de entrada: {{ $('AI Agent').item.json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=##Rol\nSos un formateador de salidas para whatsapp.\n\n##Objetivo\nTomá el texto de la entrada y devolvé la salida en formato JSON como te describo en el Output Parser. Tenés que dividir la salida en 4 partes, pero solo una parte es obligatoria. Si la respuesta es corta, la part_2, part_3 y part_4 pueden ir vacías.\n\n##Reglas\npart_1 debe contener siempre texto. part_2, part_3 y part_4 pueden quedar vacías (\"\") o no incluirse si no son necesarias.\n\nJamás devuelvas en la salida algo que no venga del input de la entrada.\n\nLas partes no deben tener más de tres frases.\n\nAsegurate que la respuesta es en idioma Español Argentino.\n\nEliminá todos los caracteres de apertura (*, ¿, ¡, #) dejando solo los de cierre \n\nDividí la entrada en hasta 4 partes lógicas, manteniendo el sentido original.\n\nEliminá los saltos de línea dentro de los mensajes que envíes.\n\nNo agregues, saques ni reordenes información.\n\nNunca envíes texto fuera del JSON; ni explicaciones ni comillas.\n\n##Comportamiento\nLeé el contenido de Entrada a formatear.\n\nAplicá las reglas para limpiar y segmentar.\n\nDevolvé solo el JSON resultante.\n\n##Ejemplo simple\n\nEntrada:\n\n¡Hola! 👋 Bienvenido a Haus Inmobiliaria, Juan te saluda. ¿En qué te puedo ayudar hoy? 😊 ¿Buscás alquilar una casa, departamento, PH o algo distinto? Contame un poco más así te asesoro mejor 🏡\n\nSalida esperada:\n\n{\n  \"response\": {\n   \"part_1\": \"Hola 👋 Bienvenido a Haus Inmobiliaria, Juan te saluda.\",\n   \"part_2\": \"En que te puedo ayudar hoy 😊 Buscas alquilar una casa, departamento, PH o algo distinto\",\n   \"part_3\": \"Contame un poco mas asi te asesoro mejor 🏡\",\n   \"part_4\": \"\"\n  }\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        6304,
        144
      ],
      "id": "da7f9bf8-b7ad-40d0-87a0-e8eabbbf6102",
      "name": "Format Chain",
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d46d583-b82d-4d85-a0b8-2c30006082a0",
              "leftValue": "={{ $('Format Chain').item.json.output.response.part_2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7472,
        352
      ],
      "id": "ecc29b7f-1a63-4a6f-b31d-faef8fdd1e9c",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c7eb0e9-13ee-40d6-9738-057a02ac1306",
              "leftValue": "={{ $('Format Chain').item.json.output.response.part_3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8144,
        352
      ],
      "id": "ed89b39d-e5e8-47fa-89d8-9ba9e55e9f7c",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10bc21c7-e460-458f-b0cb-d9e37e9bde8a",
              "leftValue": "={{ $('Format Chain').item.json.output.response.part_4 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8816,
        352
      ],
      "id": "510758c9-572f-447d-9538-843365d526a0",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c7eb0e9-13ee-40d6-9738-057a02ac1306",
              "leftValue": "= {{ $('Format Chain').item.json.output.response.part_5 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9456,
        352
      ],
      "id": "ea8461a9-95f9-49db-84ff-471a6ebe3a64",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields').item.json.Whatsapp_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2864,
        256
      ],
      "id": "1e95fd94-259c-4a4a-aaae-ebb19159a329",
      "name": "Redis6",
      "credentials": {
        "redis": {
          "id": "DXPUOBlJQml4Hzsj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Whatsapp_number }}",
        "messageData": "={{ $json.mensaje }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2416,
        256
      ],
      "id": "307416e8-cc5b-44e9-ae4b-7a6ed12e493b",
      "name": "Redis7",
      "credentials": {
        "redis": {
          "id": "DXPUOBlJQml4Hzsj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2640,
        256
      ],
      "id": "6ae6f6ad-abb1-42ad-b43a-dde6a74b53c8",
      "name": "Wait6",
      "webhookId": "a8d5702b-2fe2-4f23-bad7-8bf42fe80ee8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a313a41-eadc-4ada-bc2a-feff79845de9",
              "leftValue": "={{ $json.message[0] }}",
              "rightValue": "={{ $('Edit Fields').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3072,
        256
      ],
      "id": "dc16d183-b553-4be1-afa3-7dcdc938e3cf",
      "name": "If6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5f82380-4858-4361-908e-98e45c98f092",
              "name": "response",
              "value": "={{ $('Redis6').item.json.message.slice().reverse() }}",
              "type": "string"
            },
            {
              "id": "b3db797c-6f2b-4232-8e0c-021bc8e299ca",
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.Whatsapp_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3296,
        144
      ],
      "id": "09d0cea5-4329-4b39-8756-e8b375426c3b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.Whatsapp_number }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3520,
        352
      ],
      "id": "9c434a5e-fbf0-466c-80d8-722a139e2d81",
      "name": "Redis9",
      "credentials": {
        "redis": {
          "id": "DXPUOBlJQml4Hzsj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6272,
        384
      ],
      "id": "f699bb04-7885-4e79-b418-ae0841d6906f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1nBNnxXWvpImD4jt",
          "name": "PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6544,
        624
      ],
      "id": "d83e22e6-1b57-4c27-aeea-8b23d3c2d672",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "kK4vuyDYPpLKpnyI",
          "name": "Yanno"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields2').item.json.phone }}",
        "tableName": "=public.n8n_chat_historial_bot",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5264,
        448
      ],
      "id": "035f60d3-9762-4019-899c-9f566c83eb72",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "zLA5Pfh8OH3wURxv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "# cortamos y mandamos los mensajes",
        "height": 856,
        "width": 3680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6208,
        -16
      ],
      "typeVersion": 1,
      "id": "527833b0-ff1a-4c2c-974d-d2672ebbe237",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# pausa para leer mensajes y bot ON OFF",
        "height": 760,
        "width": 2572,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        -64
      ],
      "typeVersion": 1,
      "id": "4702eeb5-690f-4bb1-a379-92e5bfc76ad0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ¿Audio, texto o imagen?",
        "height": 1080,
        "width": 2852,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -256
      ],
      "typeVersion": 1,
      "id": "0c27f634-e9ee-4635-8585-c92bc146aeb1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=contexto: {{ $json.mensaje_usuario }}",
        "options": {
          "systemMessage": "=#Rol y Contexto\nRol: Sos Juan, un Asesor Inmobiliario Virtual de Haus Inmobiliaria, con más de 15 años de experiencia, especializado en alquileres.\nContexto: Vas a atender consultas por WhatsApp de personas interesadas en alquilar propiedades (casas, departamentos, PH, dúplex, etc.) en nombre de la inmobiliaria.\n\nTu objetivo principal es:\n\nResponder preguntas frecuentes sobre propiedades en alquiler, zonas, características y disponibilidad usando información real.\n\nMotivar y guiar al cliente para que agende una visita o solicite más información.\n\nUsar las herramientas disponibles (informacion_casas, enviar_imagen, enviar_email) de manera inteligente para brindar una atención completa y efectiva.\n\nTransmitir confianza, cercanía y profesionalismo para cerrar la mayor cantidad de alquileres posibles.\n\n#Responsabilidades y Tareas Clave\n-Consultar siempre la herramienta informacion_casas antes de responder sobre características, ubicación, ambientes, metros cuadrados, servicios, disponibilidad, precios y estado de una propiedad.\n\n-Usar enviar_imagen para mandar fotos cuando el cliente lo pida, tienes prohibido usar esta herramienta si el cliente no lo pide.\n\n-Si el cliente quiere visitar una propiedad, pedirle:\n\nNombre completo y teléfono de contacto. Luego, usar enviar_email para notificar al equipo interno que hay un interesado en visitar esa propiedad en una fecha específica.\n\n-Guiar siempre al cliente hacia el siguiente paso: ver fotos, agendar visita o dejar sus datos.\n\n#Expectativa de Entrada\nEjemplos de preguntas que recibirás:\n\n“¿Tienen casas en alquiler en Palermo?”\n\n“¿Cuánto mide el patio de esta propiedad?”\n\n“¿Podés mandarme fotos del departamento?”\n\n“¿Está disponible esta casa todavía?”\n\n“Quiero visitarla, ¿cómo hago?”\n\n#Herramientas Disponibles\n-informacion_casas → Toda la información de las propiedades. Usar antes de responder sobre características o disponibilidad.\n\n-enviar_imagen → Enviar fotos de propiedades cuando el cliente lo pida o sea útil. Para enviar las fotos de una casa, primero tenes que obtener el ID de la casa usando la herremienta informacion_casas.\n\n-enviar_email → Notificar al equipo interno cuando un cliente quiera visitar una propiedad. Indicando nombre completo y teléfono, fecha que quiere hacer la visita, que casa quiere visitar.\n\n5. Estilo y Tono de Conversación\n-Usá un tono cercano, humano, amable y argentino.\n\n-Mostrate entusiasta y dispuesto a ayudar.\n\n-Usá emoticones de forma natural sin ser excesivo (un emoticon por cada 3 respuestas)\n\n-Habla con total naturalidad, por lo tanto usa solo signos de cierre, no de apertura (¡,¿)\n\nEjemplo de respuesta:\n\nHola 👋 Mirá, esta casa en Villa Urquiza tiene 3 dormitorios, patio y cochera. Está impecable\n\nSi querés, te paso unas fotos y vemos para coordinar la visita. 🏠 \n\nSi preguntan si sos un bot, podés responder con humor:\n\nJaja, soy parte del equipo virtual de Haus, pero te aseguro que sé todo sobre nuestras propiedades. ¡Y si no, lo confirmo con un agente humano al toque! 😉\n\n#Formato y Salida Esperada\n-Optimizado para WhatsApp y mensajes directos.\n\n-Consultar informacion_casas antes de responder sobre características.\n\n-Incluir imágenes con enviar_imagen cuando corresponda.\n\n-Usar enviar_email para coordinar visitas, asegurando recolectar nombre y teléfono antes.\n\n-Usar frases cortas y fáciles de leer.\n\n-Orientar a la acción (ver fotos, coordinar visita, dejar datos).\n\n-No inventar datos que no figuren en informacion_casas.\n\n-No dar información legal o contractual compleja.\n\n-Cuando devuelves información de las casas disponibles envia de una en una para ser mas ordenado y humano\n\n#Instrucciones de Calidad y Validación\nCada respuesta debe:\n\n-Resolver la duda del cliente con precisión y amabilidad.\n\n-Usar un tono cálido y profesional.\n\n-Incluir emoticones de forma natural.\n\n-Usar enviar_imagen y enviar_email cuando sea necesario.\n\n#Prohibiciones\n-No inventar información sobre propiedades.\n\n-No dar precios o condiciones fuera de la información oficial disponible.\n\n-No compartir información de otros clientes.\n\n#Flujo Conversacional\n-Si te dicen que quieren alquilar una casa debes indagar un poco en sus necesidades, antes de devolver las opciones disponibles (Por ejemplo: En que zona estabas buscando?, cual es tu presupuesto?, Cuantas habitaciones necesitas?, [esperar respuesta del cliente], en base a tus necesidades tenemos..[dar opciones])\n\n-Una vez que ya tienes información suficiente del potencial cliente le ofreces las casas disponibles que coinciden con sus intereses. Debes enfocarte únicamente en presentar las propiedades que se alineen con sus necesidades específicas después de haber indagado en sus requerimientos, para asegurar que toda la información proporcionada sea relevante y personalizada.\n\n-Debes enviar las fotos cuando el cliente las pida, no antes, lo que si podes hacer es ofrecerlas despues de dar informacion de las casas. (Por ejemplo: Tenemos una casa en xxx con xxx habitaciones, queres que te pase fotos?)\n\n-Saludo inicial: Hola buenas ✌🏼 Soy Juan de Haus Inmobiliaria, en que puedo ayudarte hoy? Decime lo que necesites y te doy una mano!\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5376,
        128
      ],
      "id": "bccbf271-791d-4d2c-95e0-9d62cb2fb1c9",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Agente IA",
        "height": 952,
        "width": 1140,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5024,
        -80
      ],
      "typeVersion": 1,
      "id": "d23be59a-a51f-4ced-aa45-9d4cdaed4970",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3248,
        448
      ],
      "id": "98410b92-3ba9-4572-8fbf-852148141f9c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fe51594-8d61-45b4-a123-ed0c66d6f5c5",
              "name": "mensaje",
              "value": "={{ $json.message_content }}",
              "type": "string"
            },
            {
              "id": "3e61bb2b-a508-48c2-b55c-5d4f9a404cfb",
              "name": "Whatsapp_number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        256
      ],
      "id": "5822cbee-b47d-458f-8a24-bf32583d82d8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "764724e1-bf14-459b-bb97-70b999718c99",
              "name": "mensaje_usuario",
              "value": "={{ $('Redis9').item.json.response }}",
              "type": "string"
            },
            {
              "id": "5dc57e7c-35f5-4a74-b3ce-05c3b4a33854",
              "name": "ID",
              "value": "={{ $json.meta.contact.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4832,
        128
      ],
      "id": "845d4056-ceb9-4610-a499-7eecc20be0c2",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5120,
        512
      ],
      "id": "c4a1f2f7-65a4-411d-af55-d8a887adc6c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1nBNnxXWvpImD4jt",
          "name": "PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "description": "=## 🧠 Prompt para el nodo Think (modo validador)\n\nTu función es actuar como una capa de pensamiento lógico y crítica antes de enviar la respuesta del agente. Siempre debes tomarte tu tiempo para razonar.\n\n- ❌ Nunca se puede inventar un precio.\n- ❌ No se puede suponer características de las casas.\n\n---\n\n### ✅ Validar que:\n\n- La respuesta conteste con claridad, calidez y precisión a la intención del cliente.\n- Tenga mínimo **6 emojis bien distribuidos** (saludo, desarrollo, cierre).\n- No repita datos innecesarios.\n- Sea coherente con lo que el cliente pidió.\n- Mantenga el tono afectuoso y profesional característico del agente.\n\n---\n\n### 📤 Formato de salida (obligatorio):\n\nDevuelve siempre un JSON con esta estructura y nada más:\n\n{\n  \"valido\": true,\n  \"comentario\": \"Explicación breve del por qué es válido o qué debe corregirse.\"\n}\n\n📌 Si detectas cualquier error (tono, contenido, coherencia, emojis insuficientes, promesas indebidas, ingredientes no confirmados), devuelve `\"valido\": false` y explica por qué brevemente.\n\n🚫 No devuelvas el mensaje validado. No repitas el contenido. Solo responde con el JSON indicado.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        5376,
        560
      ],
      "id": "e37e3024-286c-433f-87df-4ca8db36f757",
      "name": "Think1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee4fc3a6-bb0f-4e90-902f-7ffee4447e3c",
              "name": "mensaje",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6000,
        144
      ],
      "id": "bf7cb4ca-5687-4396-865c-fd627300f0b3",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-evolution",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        272
      ],
      "id": "3109da8d-3df3-49ac-b4ea-3b83f32032b6",
      "name": "Webhook",
      "webhookId": "f66502d1-43f5-4649-8d70-d1dffbf4c6d3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "imagedata64",
        "options": {
          "mimeType": "image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1344,
        496
      ],
      "id": "4639d2eb-b05a-46db-b5da-d74a07c80fa2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1472,
        272
      ],
      "id": "7d9abe65-5fcf-4016-93c7-d8e0d65bd67b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "Texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ba2e4f4f-7224-44f7-8be6-7232f12e555b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "077cd860-da61-4973-b37d-2c34d2cf9de9",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97b51420-cf22-4718-8256-bd2bd0a3c6e6",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        768,
        256
      ],
      "id": "6eb1c7fa-93cc-4da7-a1b3-be1af48aef33",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e40758b7-c873-4f70-b434-ba759e533d83",
              "name": "mesagge_content",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        64
      ],
      "id": "a345163c-eb51-406f-a192-79a743bf4d80",
      "name": "Edit Fields14"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0e4dd0-d46b-4651-ae91-d13f9e626a5b",
              "name": "Whatsapp_number",
              "value": "={{ $json.Whatsapp_number }}",
              "type": "string"
            },
            {
              "id": "1a27c534-a2c5-400d-88de-d070cd2dd552",
              "name": "Whatsapp_name",
              "value": "={{ $json.Whastapp_name }}",
              "type": "string"
            },
            {
              "id": "910c9e55-ce6b-4af3-b1b4-6768d110765f",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "string"
            },
            {
              "id": "099559f5-b30d-44df-a483-c0becb52a129",
              "name": "message_content",
              "value": "={{ $json.mesagge_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        64
      ],
      "id": "f99f6988-19bd-4507-85aa-67978aee3a3b",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1696,
        272
      ],
      "id": "ab11ae28-748f-4ab5-a575-5ac667efdf83",
      "name": "OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "1nBNnxXWvpImD4jt",
          "name": "PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18b52fda-d39d-4a0d-8b4b-dae73d818de1",
              "name": "imagedata64",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.jpegThumbnail }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        496
      ],
      "id": "c7484168-fdc4-48c6-a28f-4002e229f735",
      "name": "Edit Fields16"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c0c61ff-4a2d-436c-ac64-35e63c0a7aa4",
              "name": "audio64",
              "value": "={{ $json.message_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        272
      ],
      "id": "eaad0b50-5f4d-4976-9caa-4812e267ca23",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0e4dd0-d46b-4651-ae91-d13f9e626a5b",
              "name": "Whatsapp_number",
              "value": "={{ $('Edit Fields13').item.json.Whatsapp_number }}",
              "type": "string"
            },
            {
              "id": "1a27c534-a2c5-400d-88de-d070cd2dd552",
              "name": "Whatsapp_name",
              "value": "={{ $('Edit Fields13').item.json.Whastapp_name }}",
              "type": "string"
            },
            {
              "id": "910c9e55-ce6b-4af3-b1b4-6768d110765f",
              "name": "message_id",
              "value": "={{ $('Edit Fields13').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "099559f5-b30d-44df-a483-c0becb52a129",
              "name": "message_content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        272
      ],
      "id": "226db8fe-c0c6-4286-9b85-bd76f5c045c7",
      "name": "Edit Fields18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0e4dd0-d46b-4651-ae91-d13f9e626a5b",
              "name": "Whatsapp_number",
              "value": "={{ $('Edit Fields13').item.json.Whatsapp_number }}",
              "type": "string"
            },
            {
              "id": "1a27c534-a2c5-400d-88de-d070cd2dd552",
              "name": "Whatsapp_name",
              "value": "={{ $('Edit Fields13').item.json.Whastapp_name }}",
              "type": "string"
            },
            {
              "id": "910c9e55-ce6b-4af3-b1b4-6768d110765f",
              "name": "message_id",
              "value": "={{ $('Edit Fields13').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "099559f5-b30d-44df-a483-c0becb52a129",
              "name": "message_content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        496
      ],
      "id": "8e240032-3dd7-4f88-b66a-9369078d6f8d",
      "name": "Edit Fields19"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ JSON.stringify($('Format Chain').item.json.output.response.part_2).slice(1, -1) }}",
        "options_message": {
          "delay": "={{ $('Format Chain').item.json.output.response.part_2.length * 30 }}",
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7696,
        144
      ],
      "id": "9372495c-b2a5-433e-a8c3-8de9fb7cdafd",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "pPCNCTrAr89Y6tfJ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ JSON.stringify($('Format Chain').item.json.output.response.part_3).slice(1, -1) }}",
        "options_message": {
          "delay": "={{ $('Format Chain').item.json.output.response.part_3.length * 30 }}",
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8352,
        144
      ],
      "id": "a8091ced-8bfc-478a-8bb4-a0444ba4f9dc",
      "name": "Evolution API3",
      "credentials": {
        "evolutionApi": {
          "id": "pPCNCTrAr89Y6tfJ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ JSON.stringify($('Format Chain').item.json.output.response.part_4).slice(1, -1) }}",
        "options_message": {
          "delay": "={{ $('Format Chain').item.json.output.response.part_4.length * 30 }}",
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        9008,
        144
      ],
      "id": "95b2c1f3-a5c3-4f0d-a448-e08608a7babe",
      "name": "Evolution API4",
      "credentials": {
        "evolutionApi": {
          "id": "pPCNCTrAr89Y6tfJ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ JSON.stringify($('Format Chain').item.json.output.response.part_5).slice(1, -1) }}",
        "options_message": {
          "delay": "={{ $('Format Chain').item.json.output.response.part_5.length * 30 }}",
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        9664,
        144
      ],
      "id": "af29d409-6a84-4096-844a-cbe186b08299",
      "name": "Evolution API5",
      "credentials": {
        "evolutionApi": {
          "id": "pPCNCTrAr89Y6tfJ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7296,
        128
      ],
      "id": "f4376ab1-bf52-4ed9-ad2b-723699e2a82f",
      "name": "Wait",
      "webhookId": "992212ae-d4a9-4049-af10-6c86113b1f56"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7904,
        144
      ],
      "id": "333a6ce5-ac16-4b1f-86b1-8a4706a3526c",
      "name": "Wait1",
      "webhookId": "ef189584-a9c1-4bca-bb04-496f31402f9c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8576,
        144
      ],
      "id": "dad99784-3bf9-44fb-8239-cb7dbc2a3140",
      "name": "Wait2",
      "webhookId": "088389c0-84d8-407e-b5db-a8c887f8d00b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9232,
        144
      ],
      "id": "6e7e4286-de79-4760-b4bb-a384445b0b84",
      "name": "Wait3",
      "webhookId": "ca523310-0444-4d09-8bc0-b4615b2887f4"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output.response.part_1 }}",
        "options_message": {
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7024,
        128
      ],
      "id": "4e9eee9f-34fe-48e9-b692-ef03557254d1",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "pPCNCTrAr89Y6tfJ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12EZQYOzNHClvT7qD2QmDEE2GxEDX0sp1hdldFyK_fQA",
          "mode": "list",
          "cachedResultName": "Alquileres",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12EZQYOzNHClvT7qD2QmDEE2GxEDX0sp1hdldFyK_fQA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12EZQYOzNHClvT7qD2QmDEE2GxEDX0sp1hdldFyK_fQA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        5536,
        576
      ],
      "id": "890aa1c5-aec8-45d7-b85a-9b2a2ce803e2",
      "name": "informacion_casas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Uh79mC46H4qvHb66",
          "name": "Google Sheets PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "santiago@pulsodigitalia.com",
        "subject": "Nueva visita agendada - Haus Inmobiliaria",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        5664,
        688
      ],
      "id": "ebebfa5a-2a7b-424a-b57e-99d3c6109da4",
      "name": "Send a message in Gmail",
      "webhookId": "422d1406-20a4-4089-aa92-3f0eb7ead7f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "IvKhb5qE07lc7FuX",
          "name": "Gmail PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "description": "Usá esta herramienta cuando debas enviar fotos de las propiedades, solo cuando el cliente las haya pedido, de otra manera no acudas a usar esta herramienta.\n\nAsegurate de enviar las fotos de la casa correspondiente revisando que el ID coincida y asegurandote de no enviar fotos duplicadas. ",
        "workflowId": {
          "__rl": true,
          "value": "G1PR7oF2RgCAgErZ",
          "mode": "list",
          "cachedResultName": "Inmobiliaria_Fotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', `ID de la casa, primero ejecuta informacion_casas para obtener esta información `, 'string') }}",
            "ConversationID": "={{ $('Webhook').item.json.body.data.chatwootConversationId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ConversationID",
              "displayName": "ConversationID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5744,
        512
      ],
      "id": "01e66b53-7d2a-4d42-b72a-73b11f4a8e35",
      "name": "enviar_imagen"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4512,
        400
      ],
      "id": "ea56fa27-0156-4edc-9b9b-3fa743e5cbff",
      "name": "bot_off"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "163c9352-776f-430e-af55-237772da000e",
              "leftValue": "={{ $json.meta.contact.blocked }}",
              "rightValue": "on",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4080,
        160
      ],
      "id": "9f02b68e-c283-4bf7-bedf-d4db6757b999",
      "name": "bot?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e04e123-2c66-4560-b44e-6a6e4d063403",
              "leftValue": "={{ $json.meta.contact.custom_attributes.chatbot }}",
              "rightValue": "OFF",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4336,
        144
      ],
      "id": "6f44d7ce-2885-465f-a59f-59d121be28de",
      "name": "bot_on?"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "Haus Inmobiliaria",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1248,
        272
      ],
      "id": "5b3bcb03-2761-4c5a-9b76-9b321925574d",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "pPCNCTrAr89Y6tfJ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Eres un asistente virtual, analisa esta imagen. Tu respuesta debe comenzar con: \"Imagen enviada ____\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1584,
        496
      ],
      "id": "13b2e1e1-9382-493a-8c7e-1bfcb7f316ca",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "1nBNnxXWvpImD4jt",
          "name": "PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://TULINK/api/v1/accounts/1/conversations/{{ $('Webhook').item.json.body.data.chatwootConversationId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        352
      ],
      "id": "6ec205db-6a4c-4966-a31e-722290b15e65",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0BlQx7DqfdMaA2Oh",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7600cd39-f566-4fa5-a7e0-b29e05b392bd",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "fc25c837-936f-44a3-bfe4-d3dd70eceb2a",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6583fac6-aba0-47b5-9d0a-283055070211",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ded4f04d-408c-4132-9db7-326bdccea1e8",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        272
      ],
      "id": "46b473a7-7dea-426f-9d98-f807f76f3fbf",
      "name": "If19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1373777-68c4-4d3e-8eae-c77269e2163d",
              "name": "Whatsapp_number",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "b3a441af-a709-4998-98ed-887fa21983cd",
              "name": "Whastapp_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "c5600e5f-cfd4-466c-baf9-dc42ea14edb1",
              "name": "message_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "135da444-8b73-4671-abaf-22e1825ede87",
              "name": "message_type",
              "value": "={{ !!$json.body.data.message.conversation && 'Texto' ||\n   !!$json.body.data.message.audioMessage && 'audio' ||\n   !!$json.body.data.message.imageMessage && 'image' ||\n   !!$json.body.data.message.stickerMessage && 'sticker' }}",
              "type": "string"
            },
            {
              "id": "2797e7c1-0128-4d92-9a62-167b97a8a832",
              "name": "message_receivedDate",
              "value": "={{ DateTime.fromSeconds($json.body.data.messageTimestamp).toISO() }}",
              "type": "string"
            },
            {
              "id": "b10b61c5-c8fa-414a-93fe-c8c0fa35aa7a",
              "name": "apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "7a9960cb-1f18-4c42-835d-4be20219affb",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        176
      ],
      "id": "ca69e8fb-6c8c-425b-b4c8-dd99891140a2",
      "name": "Edit Fields13"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        288,
        432
      ],
      "id": "646edc5c-d0d5-42eb-9a91-605eb19cdea9",
      "name": "No Operation, do nothing5"
    }
  ],
  "pinData": {},
  "connections": {
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Format Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Chain": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Evolution API3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Evolution API4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Evolution API5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis6": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Redis9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis9": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Format Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Format Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields14": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Edit Fields18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields18": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields19": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API4": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "informacion_casas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "enviar_imagen": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "bot?": {
      "main": [
        [
          {
            "node": "bot_on?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot_on?": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "bot_off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If19": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "f2fe5434f0269640fd08f48a70250ab2a2a4bc7b1cdcfb8888724c3d8f81c160"
  },
  "tags": []
}